name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      
      - name: Build and Push Docker Image
        run: |
          gcloud builds submit \
            --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/dorost:latest \
            --project=${{ secrets.GCP_PROJECT_ID }}
      
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy dorost \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/dorost:latest \
            --platform managed \
            --region us-central1 \
            --set-env-vars GOOGLE_API_KEY=${{ secrets.GOOGLE_API_KEY }} \
            --allow-unauthenticated
